@use "global" as *;

.menu {
  margin-bottom: rem(80);

  &__inner {
    max-width: $inner;
    padding: 0 rem(16);
    padding-top: rem(5);
  }

  &__title {
    width: rem(101);
  }

  &__text {
    font-size: rem(13);

    &:nth-child(3) {
      padding-bottom: rem(30);
    }
  }

  &__btn {
    margin: 0 auto rem(50);
    text-align: center;

    a{
      padding: rem(10) rem(60);
      border-bottom: rem(1) solid #7b7b7b;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: rem(-1);
        width: 30%;
        border-bottom: rem(1) solid #dfdfdf;
      }
    }
  }
}

@include mq (md) {
  .menu {
    margin-bottom: rem(150);
    &__inner {
      margin: 0 auto;
    }

    &__text {
      font-size: $fontsize-pc;
    }

    &__btn {
      margin: rem(80) auto; 
      font-size: $fontsize-pc;
    }

    &__images {
      height: rem(280);

      img {
        height: 100%;
      }
    }
  }
}