@use "global" as *;

.menu-intro {
  margin-bottom: rem(50);

  &__inner {
    max-width: $inner;
    padding: 0 rem(16);
    padding-top: rem(5);
  }

  &__text {
    font-size: rem(13);
  }
}

@include mq (md) {
  .menu-intro {
    margin: rem(100) auto;

    &__inner {
      margin: 0 auto;
    }

    &__text {
      font-size: $fontsize-pc;
    }
  }
}