@use "global" as *; 

.concept-attempt {
  margin-bottom: rem(60);

  &__inner {
    max-width: $inner;
    padding: 0 rem(16);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(50% - 50vw);
    width: calc(100vw - rem(16));
    margin-bottom: rem(40);
  }

  &__title {
    order: 1;
    color: #e5e5e5;
    font-size: rem(32);
    font-weight: $normal;
    writing-mode: vertical-rl;
    width: rem(52);
    line-height: rem(52);
    position: relative;
  }

  &__title::after {
    content: "";
    width: rem(1);
    height: rem(160);
    position: absolute;
    top: rem(135);
    left: 45%;
    background-color: #e5e5e5;
  }

  &__image {
    width: calc(100% - rem(52));
    text-align: right;
  }

  &__text {
    font-size: rem(13);
  }
}


@include mq (md) {
  .concept-attempt {
    height: rem(300);
    &__inner {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__wrapper {
      width: 50%;
      margin-left: 0;
      order: 1;
    }

    &__text {
      width: calc(50% - 20px);
      font-size: $fontsize-pc;
      padding-right: rem(20);
      margin-top: rem(5);
      order: 0;
    }

    &__image {
      padding-left: rem(40);

      img {
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}